[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-crispy-forms = "*"
django-email-users = "*"
unidecode = "*"
importlib = "*"
whitenoise = "==5.0.1"

[dev-packages]

[requires]
python_version = "3.6"
